apiVersion: v1
kind: ConfigMap
metadata:
  name: mqtt-broker-cm
  namespace: smart-home
data:
  BROKER_HOST: mqtt-broker-svc.smart-home
  BROKER_PORT: "1883"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: smart-home
data:
  mosquitto.conf: |
    listener 1883
    allow_anonymous true
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtt-broker-deploy
  namespace: smart-home
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mqtt-broker
  template:
    metadata:
      labels:
        app: mqtt-broker
    spec:
      containers:
        - name: mqtt-broker
          image: eclipse-mosquitto:latest
          resources:
            requests:
              cpu: 50m
              memory: 500Mi
            limits:
              cpu: "1"
              memory: 1Gi
          ports:
            - containerPort: 1883
          volumeMounts:
            - name: mosquitto-config
              mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
      volumes:
        - name: mosquitto-config
          configMap:
            name: mosquitto-config
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
---
apiVersion: v1
kind: Service
metadata:
  name: mqtt-broker-svc
  namespace: smart-home
spec:
  selector:
    app: mqtt-broker
  ports:
    - port: 1883
      targetPort: 1883
